<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonfrog.cyf" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main"
            android:label="" >
            <!-- android:label="@string/app_name" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.facebook.orca.category.PLATFORM_THREAD_20150314" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallengeChooseActivity"
            android:label="@string/choose_challenge" >
        </activity>
        <activity
            android:name=".hangman.HangmanChallengeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/hangman_challenge" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".hangman.HangmanSolveActivity"
            android:label="@string/hangman_solve_title" >
        </activity>
        <activity
            android:name=".cab.CabChallengeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/hangman_challenge" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".cab.CabSolveActivity"
            android:label="@string/hangman_solve_title" >
        </activity>
        <activity
            android:name=".puzzles.PuzzlesActivity"
            android:label="@string/choose_puzzle" >
        </activity>
        <activity
            android:name=".puzzles.PuzzlesChallengeActivity"
            android:label="@string/puzzle_confirm" >
        </activity>
        <activity
            android:name=".puzzles.PuzzlesSolveActivity"
            android:label="@string/hangman_solve_title" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
          android:configChanges=
                 "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <receiver android:exported="true" android:name="com.apsalar.sdk.ApsalarReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"></action>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
